<main id="edit-note-view">
	<header>
		<button class="back-button" id="cancel-button" ng-click="goBack()">cancel</button>
		<p class="guidance-text guidance-vertically-centered">Edit this note</p>
		<button class="forward-button" id="save-button" ng-click="saveNote()">save</button>
	</header>
	<h4 id="wine-info">{{ getAssociatedWine() }}</h4>
	<h4 id="date-created">{{ createReadableDate() }}</h4>
	<textarea ng-model='temp_note.text'></textarea>
	<div id="rating-stars">
		<img class="rating-star" src="/images/star-unselected.svg" ng-click="selectRatingStars( 1 )" ng-hide="temp_note.stars >= 1"/>
		<img class="rating-star" src="/images/star-selected.svg" ng-click="selectRatingStars( 1 )" ng-show="temp_note.stars >= 1"/>
		<img class="rating-star" src="/images/star-unselected.svg" ng-click="selectRatingStars( 2 )" ng-hide="temp_note.stars >= 2"/>
		<img class="rating-star" src="/images/star-selected.svg" ng-click="selectRatingStars( 2 )" ng-show="temp_note.stars >= 2"/>
		<img class="rating-star" src="/images/star-unselected.svg" ng-click="selectRatingStars( 3 )" ng-hide="temp_note.stars >= 3"/>
		<img class="rating-star" src="/images/star-selected.svg" ng-click="selectRatingStars( 3 )" ng-show="temp_note.stars >= 3"/>
		<img class="rating-star" src="/images/star-unselected.svg" ng-click="selectRatingStars( 4 )" ng-hide="temp_note.stars >= 4"/>
		<img class="rating-star" src="/images/star-selected.svg" ng-click="selectRatingStars( 4 )" ng-show="temp_note.stars >= 4"/>
		<img class="rating-star" src="/images/star-unselected.svg" ng-click="selectRatingStars( 5 )" ng-hide="temp_note.stars >= 5"/>
		<img class="rating-star" src="/images/star-selected.svg" ng-click="selectRatingStars( 5 )" ng-show="temp_note.stars >= 5"/>
	</div>
	<div id='clear-inline'></div>
	<h4 id="submission-error">{{ submission_err }}</h4>
	<button id="delete-note" ng-show="editing_a_note" ng-click="deleteNote()">Delete Note</button>
</main>