<main id="user-notes-view" show-loading-spinner="user_notes === undefined">
	<header>
		<button class="back-button" ng-click="goBack()"><img src="/images/tasting_back_button.svg" /></button>
		<p class="guidance-text guidance-vertically-centered">Your Notes</p>
	</header>
	<div class='a-note' ng-repeat="note in user_notes" ng-click="editNote(note._id, note.wine_id)">
		<h4 class='pertaining-wine'>{{getAssociatedWineAndWinery(note.wine_id)}}</h4>
		<h4 class='date-created'>{{createReadableDate(note.created_at)}}</h4>
		<p class='content'>{{note.text}}</p>
	</div>
</main>