<main id="user-reviews-view" show-loading-spinner="user_reviews === undefined">
	<header>
		<button class="back-button" ng-click="goBack()"><img src="/images/tasting_back_button.svg" /></button>
		<p class="guidance-text guidance-vertically-centered">Your Reviews</p>
	</header>
	<div class='a-review' ng-repeat="review in user_reviews" ng-click="editReview(review._id, review.wine_id)">
		<h4 class='pertaining-wine'>{{getAssociatedWineAndWinery(review.wine_id)}}</h4>
		<h4 class='date-created'>{{createReadableDate(review.created_at)}}</h4>
		<div class='rating' ng-show="review.stars">
			<img class="rating-star" src="/images/star-selected.svg" ng-repeat="i in getArrayFromNumber(review.stars) track by $index">
		</div>
		<p class='content'>{{review.text}}</p>
	</div>
</main>