<main id="specials-view">
	<header>
		<button class="back-button" ng-click="goBack()"><img src="/images/tasting_back_button.svg" /></button>
	</header>
	<div id="specials-container">
		<div class="a-special" ng-repeat="special in specials track by $index">
			<h1 class="special-title" ng-class="{'single-wine-title':special.associated_wine}">{{ special.title }}</h1>
			<div class="a-wine" ng-cloak ng-show=" associated_wines[$index].name !== undefined" ng-click="openWineDetails( associated_wines[$index]._id )">
				<img class="photo" ng-src="{{getImageThumbnail(associated_wines[$index].photo_id)}}"/>
				<div class="data-container">
					<h1 class="name"> {{ associated_wines[$index].vintage }} {{ associated_wines[$index].name }}</h1>
					<h3 class="location-and-cases fade-loc-cases"> {{ associated_wines[$index].location }} </h3>
					<h3 class="location-and-cases">{{ associated_wines[$index].cases_produced }} cases produced</h3>
					<div class="rating" ng-show="associated_wines[$index].reviews.avg_rating">
						<img class="rating-star" src="/images/star-selected.svg" ng-repeat="i in getArrayFromNumber(associated_wines[$index].reviews.avg_rating) track by $index"><h3>{{associated_wines[$index].reviews.count}}
						<ng-pluralize count="associated_wines[$index].reviews.count" when="{'1': 'review', 'other': 'reviews'}"></ng-pluralize></h3>
					</div>
				</div>
				<img class="open-details-button" src="/images/open_wine_details.svg" ng-click="openWineDetails( associated_wines[$index]._id )"/>
			</div>
		</div>
	</div>
</main>

			