<main id="wine-details-view" show-loading-spinner="!(this_wine || reviews || notes) || getImageOriginal(this_wine.photo_id) === false || facebook_loading">
	<header>
		<button class="back-button" id="back" ng-click="goBack()"><img src="/images/tasting_back_button.svg" /></button>
		<button class="forward-button" id="select" ng-hide="just_browsing || current_tasting.find( this_wine._id )" ng-click="selectWine()">select</button>
		<button class="forward-button" id="unselect" ng-hide="just_browsing || !current_tasting.find( this_wine._id )" ng-click="unselectWine()">unselect</button>
		<img id="selected-indicator" src="/images/details_selected_wine_check.svg" ng-class="{ 'is-selected' : current_tasting.find( this_wine._id ) }" ng-hide="just_browsing"/>
	</header>
	<!-- hacky way to show tasting menu below dynamically-sized & fixed container-->
	<h1 id="title">{{ this_wine.vintage }} {{ this_wine.name }}</h1>
	<h2 id="subtitle">${{ this_wine.price.per_glass }} glass | ${{ this_wine.price.per_bottle }} bottle | ${{ this_wine.price.per_case }} case</h2>
	<img id="photo" ng-src="{{getImageOriginal(this_wine.photo_id)}}" ng-show="getImageOriginal(this_wine.photo_id) !== false"/>
	<div id="modules-container">
		<div class="module module-50" id="low-down-module">
			<h6>the low down</h6>
			<ul>
				<li>{{ this_wine.description }}</li>
				<li>{{ this_wine.cases_produced }} cases produced in {{ this_wine.location }}</li>
			</ul>
		</div>
		<div ng-show="this_wine.modules.goes_well_with" class="module module-50" id="goes-well-with-module">
			<h6>goes well with</h6>
			<button ng-repeat="item in this_wine.modules.goes_well_with">{{item}}</button>
		</div>
		<div ng-show="this_wine.modules.richness !== undefined" class="module module-50" id="richness-module">
			<h6>flavor</h6>
			<p>light</p>
			<input type="range" min="0" max="10" value="3" ng-disabled="true" ng-model="this_wine.modules.richness"/>
			<p>rich</p>
		</div>
		<div class="module module-100" id="your-note-module">
			<h6>your personal note</h6>
			<div class="a-note" id="your-note" ng-show="checkForUserNote() === true">
				<p class="text">{{current_user_note.text}}</p>
			</div>
			<button class="edit" ng-click="openEditNote(current_user_note._id)" ng-show="checkForUserNote() === true">
				<img src="/images/edit_icon.svg" />
			</button>
			<button ng-click="openEditNote()" ng-show="checkForUserNote() === false">take a note</button>
			<button class="login-button" ng-show="checkForUserNote() === 'not_logged_in'" ng-click="loginWithFacebook()"><img src="/images/fb_logo.png" /> <p>log in with facebook to take a note</p></button>
		</div>
		<div class="module module-100" id="your-review-module" ng-show="checkForUserReview() === true">
			<h6>your review</h6>
			<div class="a-review" id="your-review">
				<div class="stars-and-name">
					<img class="rating-star" src="/images/star-selected.svg" ng-repeat="i in getArrayFromNumber(current_user_review.stars) track by $index">
				</div>
				<p class="text">{{current_user_review.text}}</p>
			</div>
			<button class="edit" ng-click="openEditReview(current_user_review._id)">
				<img src="/images/edit_icon.svg" />
			</button>
		</div>
		<div class="module module-100" id="reviews-module">
			<h6 ng-show="checkForUserReview() !== true">reviews</h6>
			<h6 ng-show="checkForUserReview() === true">all reviews</h6>
			<button class="reviews-login-button" ng-click="openEditReview()" ng-show="checkForUserReview() === false">submit a review</button>
			<button class="login-button reviews-login-button" ng-show="checkForUserReview() === 'not_logged_in'" ng-click="loginWithFacebook()"><img src="/images/fb_logo.png" /> <p>log in with facebook to review</p></button>
			<div class="a-review" ng-repeat="review in reviews">
				<div class="stars-and-name">
					<img class="rating-star" src="/images/star-selected.svg" ng-repeat="i in getArrayFromNumber(review.stars) track by $index">
					<h4>by {{review.user_name}}</h4>
				</div>
				<h4 class="date">{{createReadableDate(review.created_at)}}</h4>
				<p class="text">{{review.text}}</p>
			</div>
		</div>
	</div>
</main>